<script>
    import { createEventDispatcher } from 'svelte';

    export let options = [];
    export let display_func = (a) => a;
    export let selected;

    const dispatch = createEventDispatcher();

    function onChange() {
		dispatch('selected', {
			value: selected
		});
	}
</script>

<select
    bind:value={selected}
    on:change={onChange}
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200"
>
    {#each options as option, i}
        <option value={option}>{display_func(option)}</option>
    {/each}
</select>
