<script>
    import { asSVG } from "../js/milsymbol.js";

    export let sidc = "";
    export let options = { size: 50 };

    $: symbol = asSVG(sidc, options);

  
</script>

<div class="flex flex-col items-center">
    <div class="p-4">
        {@html symbol}
    </div>
    <div>
        <p class="">
            {sidc}
        </p>
    </div>
</div>
