<script>
    import { asSVGUrl, asPNGUrl } from "../js/milsymbol.js";
    import {
        context,
        standard_identity,
        symbol_set,
        status,
        headquarters_task_force_dummy,
        echelon_mobility_Towed_array_amplifier
    } from "../js/sdic.js";
    import Symbol from "../lib/Symbol.svelte";

    import { Button } from "carbon-components-svelte";
    import { Dropdown as CDropdown } from "carbon-components-svelte";
    import { Slider as CSlider } from "carbon-components-svelte";
    import { CopyButton as CCopyButton } from "carbon-components-svelte";
    import { TextInput as CTextInput } from "carbon-components-svelte";

    import Download from "carbon-icons-svelte/lib/Download.svelte";

    $: sidc = "10031000000000000000";

    $: options = {
        size: 100,
    };

    function setSidc(modifier) {
        console.log(modifier);
        sidc = sidc.replaceAt(modifier?.idx, modifier?.value);
    }

    const download = (dataUrl, filename) => {
        const link = document.createElement("a");
        link.href = dataUrl;
        link.download = filename;
        link.click();
    };

    String.prototype.replaceAt = function (index, replacement) {
        return (
            this.substring(0, index) +
            replacement +
            this.substring(index + replacement.length)
        );
    };
</script>

<div>
    <div class="flex justify-between">
        <div>
            <Button
                iconDescription="Download as SVG"
                icon={Download}
                kind="ghost"
                on:click={download(asSVGUrl(sidc, options), sidc + ".svg")}
                >SVG</Button
            >
            <Button
                iconDescription="Download as PNG"
                icon={Download}
                kind="ghost"
                on:click={download(asPNGUrl(sidc, options), sidc + ".png")}
                >PNG</Button
            >
        </div>
        <div class="" />
    </div>
    <div class=" flex flex-col items-center justify-center">
        <div class="sticky mt-10 flex flex-col items-center">
            <Symbol {sidc} {options} />
            <div class="mt-2">
                <CCopyButton text="Carbon svelte" />
            </div>
        </div>
        <div class="">
            <CSlider
                labelText="Icon size"
                min={10}
                max={250}
                maxLabel="250"
                value={100}
                on:change={(e) => (options.size = e.detail)}
            />
        </div>
        <div class="w-full grid grid-cols-2 gap-4 px-4">
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Context"
                    selectedId="0"
                    items={context}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Identity"
                    selectedId="0"
                    items={standard_identity}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Symbol Set"
                    selectedId="0"
                    items={symbol_set}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Status"
                    selectedId="0"
                    items={status}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Headquarters/Task Force/Dummy"
                    selectedId="0"
                    items={headquarters_task_force_dummy}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
            <div class="m-2">
                <CDropdown
                    light
                    titleText="Echelon/Mobility/Towed Array Amplifier"
                    selectedId="0"
                    items={echelon_mobility_Towed_array_amplifier}
                    on:select={(e) => setSidc(e.detail.selectedItem?.value)}
                />
            </div>
        </div>
        <!-- <div class="m-2">
                <CTextInput
                    light
                    labelText="Additional Information"
                    helperText="Your user name is associated with your email"
                    placeholder=""
                    on:input={(e) => (options.additionalInformation = e.detail)}
                />
            </div> -->
    </div>
</div>
