<script>
  import Style from './Style.svelte';
  import "carbon-components-svelte/css/white.css";
  import { Router } from "@roxi/routify";
  import { routes } from "../.routify/routes";

  
</script>
<main class="">

  <Style />
  <Router {routes} />
</main>